@model Shop.Models.Realestate.ImageToDatabaseViewModel

@{
    var photoPath = $"data:image/gif;base64,{Convert.ToBase64String(Model.ImageData)}";
}

<div class="form btn-group row col-sm-4 offset-2">
    <div>@Model.ImageTitle</div>
    <img class="card-img-top" src="@photoPath" asp-append-version="true" />
</div>
